@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        display: block;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: bold;
    }

    h1 {
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-inline-end: 0;
    }

    h2 {
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }

    h3 {
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    h4 {
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
    }

    h5 {
        font-size: 0.83em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
    }

    h6 {
        font-size: 0.67em;
        margin-block-start: 2.33em;
        margin-block-end: 2.33em;
    }

    pre {
        width: 100%;
        font-size: 13px;
    }

    code {
        display: flex;
        white-space: pre-wrap;
        word-break: break-all;
        width: 100%;
    }

    .text::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #7f7f7f;
    }

    .text::-webkit-scrollbar {
        width: 8px;
    }

    :root {
        color-scheme: light;
        --nav-active: #dcdcdc;
        --folder-hv: #e6e6e6;
        --file-drop: #bdbdbd;
        --preview-bg: rgba(246, 246, 246, .85);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --nav-active: #525152;
            --folder-hv: #343434;
            --file-drop: #1a1a1a;
            --preview-bg: rgba(55, 55, 55, .85);
        }
    }
}

@layer utilities {
    .clip-top-right {
        clip-path: polygon(0 0, 46px 0, 100% 26px, 100% 100%, 0 100%);
    }

    .sd {
        /*filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));*/
        box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    }

    .file-drop {
        filter: drop-shadow(0 3px 4px var(--file-drop));
        -webkit-filter: drop-shadow(0 3px 4px var(--file-drop));
    }

    .preview-trans {
        transform: translateZ(0);
        transition: all .3s cubic-bezier(.42, 0, .58, 1);
        /*transition: height .5s ease, width .5s ease, top .5s ease, left .5s ease, opacity;*/
    }

    .preview-show {
        opacity: 1;
        z-index: 9999;
        height: 90% !important;
        width: 85% !important;
        transform: translateZ(0);
        left: 7.5% !important;
        top: 5% !important;
    }

    .preview-text {
        opacity: 1;
        z-index: 999;
        height: 95% !important;
        width: 50% !important;
        transform: translateZ(0);
        left: 25% !important;
        top: 2.5% !important;
    }

    .preview-shadow {
        box-shadow: 0 25px 50px -10px rgba(0, 0, 0, .3);
    }

    .preview-default-pos {
        left: 50%;
        top: calc(50% - 64px);
    }

    .line-limit {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .safari-focus:focus + header {
        background-color: #e6e6e6 !important;
    }

    .safari-focus:focus ~ p {
        background-color: #0063e1 !important;
        color: #fff;
    }

    .nav-active {
        background-color: var(--nav-active) !important;
    }

    .folder-active {
        background-color: var(--folder-hv) !important;
    }

    .preview-bg {
        background-color: var(--preview-bg);
    }
}