@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {

    }
}


@layer utilities {
    .clip-top-right {
        clip-path: polygon(0 0, 46px 0, 100% 26px, 100% 100%, 0 100%);
    }

    .sd {
        /*filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));*/
        box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    }

    .file-drop {
        filter: drop-shadow(0 3px 4px #bdbdbd);
    }
}