@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {

    }
}


@layer utilities {
    .clip-top-right {
        clip-path: polygon(0 0, 46px 0, 100% 26px, 100% 100%, 0 100%);
    }

    .sd {
        /*filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));*/
        box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    }

    .file-drop {
        filter: drop-shadow(0 3px 4px #bdbdbd);
        -webkit-filter: drop-shadow(0 3px 4px #bdbdbd);
    }

    .preview-trans {
        transition: all .5s ease;
    }

    .preview-show {
        opacity: 1;
        z-index: 999;
        height: 90%;
        width: 85%;
        transform: translate3d(-50%, -50%, 0);
        left: 50% !important;
        top: 50% !important;
    }

    .preview-shadow {
        box-shadow: 0 25px 50px -10px rgba(0, 0, 0, .3);
    }

    .line-limit {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}